@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';


/* Login Page */
.fi-simple-main-ctn{
    @apply justify-start bg-orange-600 
    bg-[url('/images/login-bg.jpg')] 
    bg-no-repeat bg-center bg-cover;
}

.fi-simple-main{
    @apply rounded-none h-screen m-0 bg-orange-950 flex justify-center items-center;
    & .fi-simple-page{
        @apply w-full;
    }
    & .fi-logo, h1, .fi-fo-field-wrp-label span, .fi-fo-field-label span{
        @apply text-white;
    }
}

.fi-logo {
    width: 220px;
    min-height: 120px;

    background-image: url('/images/logo.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100px auto;

    padding-top: 105px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}